body {
    font-family: 'Nunito', sans-serif !important;
    color: #000;   
}
  @keyframes mouvement {
    0%{
      left:100%;
      opacity:1 ;
    }
    20%{
      left:0;
      opacity:1;
    }
    40%{
      left:-100%;
      opacity:1;
    }
    100%{
      left:-100%;
      opacity:1;
    }
  }
  .image1:nth-child(2){
    animation-delay:4s;
  }
  .image1:nth-child(3){
    animation-delay:8s;
  }
  .image1{
    width:100%;
    height:100%;
    left:100%;
    opacity:1;
    z-index: -1;
    position:absolute;
    filter:brightness(50%);
    animation:mouvement 20s infinite;
  }
 
.heder{
    background: #6fb3b89e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    position: absolute;
    width: 100%;
    height: 12%;
   
}
.ksuLogo{
  position: absolute;
  margin-left: 50px;
}
.heder p {
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 200%;
    line-height: 40px;
    color: #FFFFFF;
    bottom: 1px;
}
.btn-lg{
  margin: 29% 25% 6% 35%;
  font-size: 200% !important;
  /*background-color: #6FB3B8 !important;
  border-color: #6FB3B8 !important;*/
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-lg:nth-child(1){
  margin-top: 0%;
}


img.back{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  opacity:0.2;
  filter:brightness(50%);
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
 
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.back {
    left: 50%;
    margin-left: -400px;   /* 50% */
  }
}
.container-sm{
  background-color: #FFFFFF;
  border-radius: 10px;
  position: absolute; 
  text-align: center;
  top:60%;
  left:50%;
  width: 50% !important;
  height: 80% !important;
  transform: translate(-50%,-50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container-sm form {
  margin: 0px 50px;
  box-sizing: border-box; 
  font-size: 150%;
}
.container-sm form .col-12 button{
  font-size: 130%;
}
.textField{
  text-align: left;
}
nav {
  position: fixed;
  width: 100%;
  max-width: 300px;
  display: block;
  height: 100%;
  color: black !important;
  opacity: 0.8;
  transition: all 300ms;
  background-image: url('/img/background_ksu5.png') !important;
  background-repeat: repeat;
  margin-top: 6.8%;
  text-align: center;
  font-size: 150%;
}

nav ul{width: 100%; padding-inline-start: 0;  height: calc(100% - 20px); }
nav .vertical-menu-logo{padding: 20px; font-size: 1.3em; position: relative}
nav li {list-style: none;  padding: 20px 10px; cursor: pointer; border-bottom:5px solid #0810119e; border-width: 0.4px;}
nav li:hover{ background-color: #6fb3b849; color: #074e4e !important; border-left:7px solid #06535d; }
nav li a{ text-decoration: none; color: #000;}
nav li a:hover{text-decoration: none; color: #000;}

.content-wrapper{
  width: calc(100% - 300px);
  height: 100%;
  position: fixed;
  left: 300px;
  padding: 20px;
  margin-top: 6.8%;
  padding-bottom: 20%;
  overflow: scroll;
  background: #ebebeb;
}
.content{
  width: 90%;
  min-height: 90%;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  overflow-y: scroll;
}
.content-CV{
  width: 63%;
  min-height: 23%;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  margin: 3% 3% 3% 3%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: scroll;

}
.content-CV-Personal-Information{
  width: 30%;
  min-height: 40%;
  background: #fff;
  border-radius: 10px;
  padding: 15px;

  margin: 2.6% 3% 3% 65%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
}
.btn-save{
  background-color: #388087;
  border-radius: 7px; 
  border:  #388087;
  color: #fff;
  margin-left: 30%;
  font-size: 150%;
  padding: 4px 20px 4px 20px;

}
.btn-save:hover{
  background-color: #378087;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}


#submenu-2{
  display: none;
}
.btn-success, .btn-outline-secondary{
  border-radius: 20px !important;
}
.Progress-report{
  border: 1px solid #a7aeae; 
}
 .Progress-report td{
  border-top: 1px solid #a7aeae; 
  padding: 2%; 
  font-size: 130%;
}
.Progress-report th{
  border-top: 1px solid #a7aeae; 
  text-decoration: underline;
  text-align: right;
  font-size: 120%;
}
.Progress-report td:nth-child(2){
 text-align: right;
}
.spashlist{
  position: absolute;
  margin: -4% 10% 20% 15%;
}
.date{
  position: absolute;
  margin: -1% 10% 20% 15%;
}
.opportunityState{
  position: absolute;
  margin: -1% 10% 30% 33%;
  color: green;
}

