/* TRAINEE DETAILS  page */

.inst p{
    font-size: 100%;
}

.trainee-info , .info-sec , .info {
    font-size: 100%;
    text-align: left;
    margin-left: 6%;
}

.trainee-info , .info-sec{
    display: inline-block;
    vertical-align:top;
}

.trainee-info  , .info-sec p{
    width: 18em;
    margin-top:0%;
}

.hed-de{
    font-size: 150%;
    color: rgb(53, 50, 63);
    margin-bottom: 1%;
    text-indent: 5%;
    margin-top: -1%;
}

.company-report , .prog-rep {
    display: inline-block;
    vertical-align:top;
}

.company-report a , .ProgressReport a{
    color:black;
  }

  .company-report th , .ProgressReport th{
font-size: 85%;
padding-right: 2%;
  }

  .company-report td , .ProgressReport td{
    padding-right: 2%;
      }

.subm{
    border-top: 1px solid #a7aeae;
  text-decoration: underline;
  text-align: right;
}

.ProgressReport{
    border: 1px solid #a7aeae;
    border-radius: 15px;
  }

   .ProgressReport td{
    border-top: 1px solid #a7aeae;
    padding: 2%;
   }


/* VIEW REVIEW page */

/* rating */
.rating-css div {
    color: #ffc700;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: left;
    text-transform: uppercase;
    padding: 8px 0;
    margin-bottom: -4%;
  }
  .rating-css input {
    display: none;
  }
  .rating-css input + label {
    font-size: 32px;
    text-shadow: 0.5px 0.5px 0 #8f8420;
    cursor: pointer;
  }
  .rating-css input:checked + label ~ label {
    color: #ccc;
  }
  .rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
  }

.viw{
    border-radius:4px;
    font-size:130%;
    font-family:'Actor';
    font-weight:200;
    border-color: rgb(111, 111, 111);
    padding: 20px 27px 20px 27px;
    width: 70%;
    margin-bottom: 3%;
    margin-top: -26px;
}

.viw p {
    margin-left: -1.5%;
    margin-top: -2%;
    margin-bottom: -4px;
}

.review-date{
    font-size:110%;
    color:rgb(91, 89, 103);
    margin-left:1%;
    margin-top:3px;
    padding-right: -5%;
    position: absolute;
}


/* BUTTONS */


    /* CANCEL BUTTON IN VIEW REVIW PAGE */

    .can-but2{
        margin-left:7%;
        margin-top: 0.1%;
        background-color: white;
        border-radius: 7px;
        border-color: #38808741;
        border-style: solid;
        border-width: 1px;
        color: #388087d1;
        font-size: 120%;
        padding: 4px 20px 4px 20px;
        border-radius: 7px;
        position:absolute;
    }

    /* CANCEL BUTTON IN ADD REVIW PAGE */
    .can-but1:hover{
        border-color: #38808774;
        background-color: #38808715;
        }

        .can-but1{
            margin-left:7%;
            margin-top: 4.7%;
            background-color: white;
            border-radius: 7px;
            border-color: #38808741;
            border-style: solid;
            border-width: 1px;
            color: #388087d1;
            font-size: 120%;
            padding: 4px 20px 4px 20px;
            border-radius: 7px;
            position:absolute;
        }

        .can-but2:hover{
            border-color: #38808774;
            background-color: #38808715;
            }


    .add-but{
        background-color: #388087;
        border-radius: 7px;
        color: white;
        font-size: 120%;
        padding: 4px 27px 6px 27px;
        border-style: none;
        border-radius: 7px;
        margin-left: 35%;
        margin-top: 6%;
        }

    .add-but:hover {
        background-color: #285e63;
        border-radius: 7px;
        color: white;
        font-size: 120%;
        padding: 4px 27px 6px 27px;
        border-style: none;
        border-radius: 7px;
        margin-left: 35%;
        }

            .Identification-req-but{
                background-color: #388087;
                border-radius: 7px;
                color: white;
                font-size: 120%;

                border-style: none;
                border-radius: 7px;


                }
                .Identification-req-but:hover {
                    background-color: #285e63;
                    border-radius: 7px;
                    color: white;
                    font-size: 120%;

                    border-style: none;
                    border-radius: 7px;
                    }
.del-but{
        background-color: #e72828;
        border-radius: 7px;
        color: white;
        font-size: 120%;
        padding: 4px 22px 6px 22px;
        border-style: none;
        border-radius: 7px;
        margin-left:33%;

}

.del-but:hover{
    background-color: #af1e1e;
}

.ok-but{
    background-color: green;
    border-radius: 7px;
    color: white;
    font-size: 125%;
    padding: 4px 10px 6px 10px;
    border-style: none;
    margin-left: 40%;
    margin-bottom: 3%;
    margin-top: 2%;
    width: 24%;
}

.ok-but:hover{
    background-color: rgb(1, 97, 1);
}

.can-but{ /* THIS BUTOON IS FOR MODAL*/
    margin-left:70%;
    background-color: white;
    border-radius: 7px;
    border-color: #38808741;
    border-style: solid;
    border-width: 1px;
    color: #388087d1;
    font-size: 122%;
    padding: 4px 20px 4px 20px;
    display: inline-block;
    vertical-align:top;
}

.can-but:hover{
    border-color: #38808774;
    background-color: #38808715;
    }

.del-msg{ /* THIS BUTOON IS FOR MODAL*/
    background-color: #e72828;
    border-radius: 7px;
    color: white;
    font-size: 123%;
    padding: 4px 20px 4px 20px;
    border-style: none;
    margin-left: 26%;
    margin-bottom: 4%;
    margin-top: 2.5%;
}

.del-msg:hover{
background-color: #af1e1e;
}


/* REVIEWS page  */
.checked  {
    color: #ffc700;
    text-shadow: 0.5px 0.5px 0 #8f8420;
}

.rev-date{
    color: rgb(107, 102, 121);
    margin-left: 85.7%;
    font-size: 105%;
    display: inline-block;
    vertical-align:top;
}

/* MODAL */

.modal{
    margin-top: 15%;
}


/* INSTRUCTION PAGE */

.process {
    width: 600px;
    margin: auto;
  }

  .processes {
    border-top: 2px dashed;
    border-color: #388087 !important;
    margin:0; padding: 30px;
    counter-increment: section;
    position: relative;
  }

  .processes:nth-child(even):before {
    content: counter(section);
    right: 100.8%;
    margin-right: -20px;
    position: absolute;
    border-radius: 50%;
    padding-top:5px;
    height: 35px;
    width: 35px;
    background-color: #388087;
    text-align:center;
    color: white;
    font-size: 120%;
  }

  .processes:nth-child(odd):before {
    content: counter(section);
    left: 100.6%;
    margin-left: -20px;
    position: absolute;
    border-radius: 50%;
    padding-top:5px;
    height: 35px;
    width: 35px;
    background-color: #388087;
    text-align:center;
    color: white;
    font-size: 120%;
  }

  .processes:nth-child(even) {
    border-left: 2px dashed;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px;
    padding-right: 0;
    text-align: left;
  }

  .processes:nth-child(odd) {
    border-right: 2px dashed;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px;
    padding-left: 0;
    text-align: right;
  }

  .processes:first-child {
    border-top: 0;
    border-top-right-radius:0;
    border-top-left-radius:0;
  }

  .processes:last-child {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
  }

  .tit{
    font-size:120%;
  }

  .dt{
    color:rgb(85, 82, 96);
}

.noReviews{
    margin-top: -10px;
    text-align: center;
    font-size: 130%;
    color: rgb(64, 60, 74);
}

.uploaded-files {
    display: inline-block;
    vertical-align:top;
}


/* TRAINEE REQUEST BUTTONS */

.reject-but{
    background-color: #e72828;
    border-radius: 7px;
    color: white;
    font-size: 135%;
    padding: 4px 20px 4px 20px;
    border-style: none;
    margin-left: 12%;
    margin-top: 5%;
}

.reject-but:hover{
    background-color: #af1e1e;
    }

.acc-but{
    background-color: #00b618;
    border-radius: 7px;
    color: white;
    font-size: 136%;
    padding: 4px 18px 4px 18px;
    border-style: none;
    margin-left: 32%;
    margin-top: 5%;
}

.acc-but:hover{
    background-color: #029015;
    }


/* LETTER REQUEST TRAINEE DETAILS PAGE*/

.letter-btn{
    border-radius: 7px;
    color: white;
    font-size: 120%;
    padding: 4px 18px 4px 18px;
    border-style: none;
    background-color: #028314;

}

.letter-btn:hover{
    background-color: #016e10;
}
